.bash_history
.DS_Store
screenrecording.sh
.viminfo
.fluxbox/
.chrome/Default/Cookies
.chrome/Default/Cache/Cache_Data/
.chrome/Default/optimization_guide_model_and_features_store/
.chrome/Default/Code\ Cache/
.chrome/Default/Sessions/
.chrome/Default/TransportSecurity/
.chrome/Default/Visited\ Links/
.chrome/Default/Network\ Persistent\ State/
.chrome/Default/optimization_guide_prediction_model_downloads
.chrome/Default/shared_proto_db/
.chrome/Default/Site\ Characteristics\ Database/
.chrome/Default/Sync\ Data
.chrome/Default/Session\ Storage\
.chrome/Default/History
.chrome/Default/History-journal
.chrome/Variations
.chrome/PKIMetadata/
.chrome/Singleton*
.chrome/RunningChromeVersion
.chrome/BrowserMetrics-spare.pma
.chrome/hyphen-data/
.config/google-chrome-unstable
.chrome/Local\ State/
.chrome/GrShaderCache/
.chrome/DevToolsActivePort
.chrome/chrome_shutdown_ms.txt
.pki/
.npm/
html/
theme/
docs/
node_modules/
.terminalizer/
.bash_history
.local/
*~
*.swp
*.swo
.cache/
*.png
.ash_history
node_modules/.package-lock.json
package-lock.json
package.json
*.mkv
*.mlt
distributed-cloud-login.js
install-mouse-helper.js
puppeteer.sh
screenrecording.txt (95%)
xvfb.sh
