.bash_history
html/
theme/
docs/
node_modules/
.terminalizer/
.bash_history
.local/
*~
*.swp
*.swo
.cache/
*.png
.ash_history
node_modules/.package-lock.json
package-lock.json
package.json
*.mlt
*.mp4
