.bash_history
screenrecording.sh
.fluxbox/
.chrome/Singleton*
.chrome/RunningChromeVersion
.chrome/Default/Cookies
.chrome/Default/Cache/Cache_Data/
.chrome/Default/optimization_guide_model_and_features_store/
.chrome/Default/Code\ Cache/
.chrome/hyphen-data/
.chrome/Default/optimization_guide_prediction_model_downloads
.config/google-chrome-unstable
.pki/
.npm/
html/
theme/
docs/
node_modules/
.terminalizer/
.bash_history
.local/
*~
*.swp
*.swo
.cache/
*.png
.ash_history
node_modules/.package-lock.json
package-lock.json
package.json
*.mkv
*.mlt
